<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JJ Finances</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>
    <header>
        <div class="container">
            <div><img src="/static/assets/logo1.png" alt="" width="70px"></div>
            <div class="titulo"><strong>JJ Finances</strong></div>
            <div class="margem"></div>
            <div class="buttons">
                <a href="/login" class="btn">Entre</a>
                <a href="/cadastro" class="btn btn-primary">Cadastre-se</a>
            </div>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Rentável, Simples <br>e Eficiente</h1>
                <p>A JJ Finances apresenta o serviço de investimentos mais preciso e ágil de todo o Brasil.</p>
                <a href="/cadastro" class="conheca"><strong>Conheça Já</strong></a>
            </div>
            <div class="image">
                <img src="/static/assets/mulherpng.png" alt="" width="500px">
            </div>
        </section>
        <section class="info">
            <div class="accordion">
                <div class="faq-item">
                    <input type="checkbox" id="faq1">
                    <label for="faq1">O que é a JJ Finances?</label>
                    <div class="content">
                        <p>A JJ Finances é um projeto composto pelos 2 maiores profissionais especializados
                            da área de investimento, análise de dados, design gráfico e desenvolvimento de
                            sistemas. Com o objetivo de proporcionar a melhor experiência possível, a JJ 
                            Finances apresenta diferentes tipos de recursos e aplicações para simular experiências
                            e apresentar feedbacks de investimento. </p>
                    </div>
                </div>

                <div class="faq-item">
                    <input type="checkbox" id="faq2">
                    <label for="faq2">Nossa Bolsa de Valores</label>
                    <div class="content">
                        <p>A Bolsa de Valores da JJ Finances é atualizada em tempo real, para melhor experiência do usuário, 
                            além de apresentar apenas as melhores opções de investimento, de modo que não haja distrações para os 
                            nossos clientes. </p>
                    </div>
                </div>

                <div class="faq-item">
                    <input type="checkbox" id="faq3">
                    <label for="faq3">Calculadora de Investimentos</label>
                    <div class="content">
                        <p>A JJ Finances criou um projeto inovador para diferenciar-se na área de investimentos: uma calculadora de
                            investimentos precisa que ordena as melhores opções de investimentos para cada cliente, baseando-se em 
                            seu capital inicial, aportes mensais e período de aplicação. </p>
                    </div>
                </div>

                <div class="faq-item">
                    <input type="checkbox" id="faq4">
                    <label for="faq4">Nossos Acionistas</label>
                    <div class="content">
                        <p>A JJ Finances também possui uma lista organizada de cada acionista afiliado, para que mantenhamos um fiel
                            público a quem possamos confiar nossos feedbacks. Afilie-se a nossa lista de acionistas na seção de Bolsa
                            de Valores/Acionistas caso tenha interesse! </p>
                    </div>
                </div>
            </div>
        </section>


        <footer>
            <p>&copy; 2024 - Empresa JJ Finances | Todos os direitos reservados</p>
            <p>Contato: contato@empresa.com | Redes sociais: <a href="#">Facebook</a> | <a href="#">Instagram</a></p>
        </footer>
    </main>
</body>
</html>
