@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
 
*{
    margin: 0px;
    padding: 0px;
}
 
body{
    background-color: #0A1A2B;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
 
header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
}
 
.image{
    margin-left: 200px;
}
 
.titulo{
    margin-left: 10px;
    margin-right: 350px;
}
 
header{
    height: 100px;
}
 
.navegacao{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 700px;
    gap: 30px;
    margin-right: 70px;
}
 
.navegacao a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding: 5px;
}
 
.titulo a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding: 5px;
}
 
.navegacao a:hover{
    border-bottom: 1px solid white;
}
 
.foto{
    border-radius: 100%;
    height: 80px;
    width: auto;
    cursor: pointer;
}
 
.menu{
    margin-left: -1vw;
    position: absolute;
    display: none;
    margin-top: 5px;
    background-color: #0D2C3F;
    padding: 10px;
    border-radius: 20px;
}
 
.menu a{
    text-decoration: none;
    color: #18d07a;
    font-size: 20px;
}
 
.menu a:hover{
    border-bottom: 1px solid white;
}
 
.menu p{
    font-size: 20px;
}
 
.perfil:focus-within .menu{
    display: block;
}

.investimento{
    border-bottom: 1px solid white;
}

.tela{
    width: 90%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin-top: 5%;
    gap: 15px;
}

.texto-principal{
    font-size: 31px;
}

.texto{
    width: 80%;
    font-size: 24px;
}

.tela2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: #0D2C3F;
    height: 100%;
    flex-direction: column;
    justify-items: center;
    padding-top: 30px;
    gap: 10px;
}
  
.tab-button:hover {
    text-decoration: underline;
}
  
.content {
    padding: 20px;
}
  
.tab-content {
    display: none;
}
  
.tab-content.active {
    display: block;
}

nav{
    display: flex;
    justify-content: space-around;
    
}

nav button{
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #ffff;
    font-family: 'Montserrat';
    margin-top: 19px;
}

.content h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.content p{
    display: flex;
    justify-content: center;
    justify-self: center;
    text-align: center;
    font-size: 30px;
    width: 85%;
}

.content .titulo_cripto{
    margin-top: 100px;
}

table {
    justify-self: center;
    width: 80%;
    border-collapse: collapse;
    margin: 2rem 0;
}

table th, table td {
    border: 1px solid #555;
    padding: 0.75rem;
    text-align: center;
}

table th {
    background-color:#34D399;
    color: #ffff;
}

table td {
    background-color: #0A1A2B;
}

tr:hover {
    background-color: #444;
}

.green {
    color: #4caf50;
}

.red {
    color: #f44336;
}

@keyframes pulse-up {
    0% {
        transform: scale(1);
        color: #4caf50; /* Cor para valores positivos (subida) */
    }
    50% {
        transform: scale(1.2);
        color: #81c784; /* Cor mais suave para o final */
    }
    100% {
        transform: scale(1);
        color: inherit;
    }
}

@keyframes pulse-down {
    0% {
        transform: scale(1);
        color: #f44336; /* Cor para valores negativos (queda) */
    }
    50% {
        transform: scale(1.2);
        color: #e57373; /* Cor mais suave para o final */
    }
    100% {
        transform: scale(1);
        color: inherit;
    }
}

/* Adiciona uma classe para animar as células de variação */
.variation-up {
    animation: pulse-up 1s ease-in-out;
}

.variation-down {
    animation: pulse-down 1s ease-in-out;
}



footer {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-top: auto;
}

footer a {
    color: #4ec7b0;
    text-decoration: none;
    font-size: 14px;
}

footer a:hover {
    text-decoration: underline;
}

.inputs {
    display: flex;
    gap: 30px; 
    justify-content: space-evenly;
}

.inputs div {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

label {
    color: white; 
    margin-bottom: 7px; 
    font-size: 25px; 
    font-family: 'Montserrat';
}

input {
    padding: 10px;
    font-size: 20px;
    border: none; 
    border-radius: 20px; 
    background-color: #2b3a4a; 
    color: white; 
    text-align: center; 
    width: 400px;
    height: 30px;
    margin-bottom: 60px; 
    font-family: 'Montserrat';
}

form{
    margin-top: 100px;
}

.botao{
    display: flex;
    justify-content: center;
    align-self: center;
}

form button {
    background-color: #34D399;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    width: 180px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button{
    background-color: #16a085;
}

h2{
    justify-self: center;
    margin-top: 50px;
}

.chat-container {
    width: 70%;
    margin: 50px auto;
    background-color:#0A1A2B ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.chat-header {
    text-align: center;
    margin-bottom: 20px;
    color: #ffff;
}

.chat-box {
    margin-bottom: 20px;
}

.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.message.bot {
    background-color: #0D2C3F;
    border: 1px solid #99ccff;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}








